*{
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.5;
}


#container{
   
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(style-3411109_1920.jpg);
    background-attachment: fixed;
    box-sizing: border-box;
}

#manual{
    position: absolute;
    width: 10vw;
    height:75vh;
    margin: 50vh 10vw auto;
    background-color: black;
    transform: translate(-50%, -50%);
    color: white;
    padding: 1%;
    justify-content: center;
    border-style: ridge;
    border-color: blue;
    opacity: 0;
    
}
#commands{
    display: none;
}
#burger{
    position: absolute;
    width: 5vw;
}


.mainWindow{
    margin: 50vh 50vw auto;
    transform: translate(-50%, -50%);
    background-color:black;
    border-style: ridge;
    border-color: blue;
    height: 80vh;
    width: 60vw;
}
.box{
    position: absolute;
    background: url(style-3411109_1920.jpg);
    background-attachment: fixed;
    
}

#quest-box{
    margin: 8vh 4vw auto;
    height: 40vh;
    border-color: blue;
    border-style: solid;
    padding: 2%;
    position: relative;
   
}
#quest-text{
    color: white;
}



#answer-box{
    margin: 4vh 4vw 4vh 4vw;
    height: 8vh;
    color: white;
    border-color: blue;
    border-style: solid;
    position: relative;
    padding: 1%;
    position: relative;
    
    
    
}
#input{
    
    position: relative;
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 1%;
  
}
#submit{
    margin-top: 2em;
}
#skip{
    background-color: white;
    height: 5vh;
    position: relative;
    margin-left: 98%;
    transform: translate(-100%);
    color:white;
}

#title{
    position: relative;
    text-align: center;
    justify-content: center;
    display: none;
    opacity: 0;
    font-family: 'Bungee Hairline', cursive;
    font-size: 4em;
    color: #FFFFFF;

}
#author{
    position: relative;
    text-align: center;
    justify-content: center;
    display: none;
    opacity: 0;
    font-family: 'Bungee Hairline', cursive;
    font-size: 1em;
    color: #FFFFFF;
}



